*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
}
.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    position: absolute;
    bottom: 180px;
    font-size: 32px;
    width: 600px;
    max-height: 120px;
    overflow-y: scroll;
    flex-wrap: wrap;
}
button {
    position: absolute;
    padding: 20px;
    border :none;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
}